@import "catppuccin-mocha.css";

* {
  font-family: FantasqueSansMono Nerd Font;
  font-size: 16px;
  min-height: 0;
}

#waybar {
  background: @base;
  opacity: 0.8;
  color: @text;
  margin: 0px 5px;
}

#workspaces {
  border-radius: 2rem;
  margin: 4px 5px;
  background-color: @surface0;
  margin-left: 1rem;
}

#workspaces button {
  color: @mauve;
  padding: 0.2rem 0.6rem;
  border-radius: 0px
}

#workspaces button.focused, 
#workspaces button.active {
  color: @base;
  background-color: @mauve;
}
#workspaces button.focused:first-child, 
#workspaces button.active:first-child {
  border-radius: 2rem 0 0 2rem;
}
#workspaces button.focused:last-child, 
#workspaces button.active:last-child {
  border-radius: 0 2rem 2rem 0;
}
#workspaces button.focused:only-child, 
#workspaces button.active:only-child {
  border-radius: 2rem;
}


#workspaces button.hover {
  color: @base;
  background-color: @mauve;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}


#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power,
#network {
  background-color: @surface0;
  padding: 0.2rem 0.8rem;
  margin: 4px 0;
}

#clock {
  color: @blue;
  border-radius: 0px 2rem 2rem 0px;
  margin-right: 1rem;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#backlight, #battery {
    border-radius: 0;
}

#pulseaudio {
  color: @maroon;
  border-radius: 2rem 0px 0px 2rem;
  margin-left: 1rem;
}

#custom-music {
  color: @mauve;
  border-radius: 1rem;
}

#custom-lock {
  border-radius: 1rem 0px 0px 1rem;
  color: @lavender;
}

#custom-power {
  margin-right: 1rem;
  border-radius: 0px 1rem 1rem 0px;
  color: @red;
}

#tray {
  margin-right: 1rem;
  border-radius: 2rem;
}
